html {
    font-size: 18px;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.container {
    width: 960px;
    display: flex;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__top-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.header__top-bar__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 960px;
}

.header__top-bar img {
    height: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.header__top-bar p {
    display: inline-block;
    font-size: 1rem;
    margin: 0.66rem 0;
    color: white;
}

.header__main {
    height: 25rem;
    background: url("../images/moto.jpeg") no-repeat scroll center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.header__main__p {
    background-color: black;
    padding: 2rem 3rem;
    color: white;
    width: 20rem;
    margin-top: 9rem;
    font-weight: bold;
}

.small {
    margin-bottom: 0.25rem;
    font-size: 1rem;
}

.big {
    font-size: 2rem;
}

.header__nav {
    background-color: firebrick;
    padding: 0.75rem 0;
    display: flex;
    justify-content: center;
    color: white;
}

.header__nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.nav-small {
    display: none;
}

.main {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__container {
    display: flex;
    flex-direction: column;
}

.main__items {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
}

.main__items__item {
    border: 4px solid black;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__items__item__image {
    margin: 2rem 0;
    height: 9rem;
}

.main__items__item__title {
    width: 100%;
    padding: 0.5rem 0;
    background-color: black;
    color: white;
    text-align: center;
}

.main__info {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: space-between;
    width: 100%;
}

.main__info__item {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.main__info__item__header {
    color: white;
    padding-left: 2rem;
    background-color: black;
}

.main__info__item__header p {
    margin: 1rem 0;
}

.footer {
    background-color: black;
    margin-top: 4rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

